module.exports = {
    database: '',
    host: '',
    password: '',
    username: '',
    initialUser: {
        email: '',
        firstName: '',
        lastName: '',
        password: '',
        role: '' // Role mid
    }
}
